<div class="menu-bar-container">
  <app-menu-bar (returnValue)="searchValue($event)"></app-menu-bar>
</div>

<div class="body-contianer">

  <div class="button-container">
    <p-button [label]="ButtonState"
              [styleClass]="styleName"
              (click)="AddTaskButtonHandle()">
    </p-button>
  </div>

  <div class="add-task-container">
    <app-add-task [hidden]="addTaskButton"
                  [saveTask]="saveTask"
                  (ButtonState)="OnButtonState($event)">
    </app-add-task>
  </div>

  <div class="table-container">
    <app-table-view [inputTask]="returnedTask"></app-table-view>
  </div>

  <p-toast key="AddedTask"></p-toast>
</div>
